@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  min-height: 100%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.showcase {
  display: flex;
  margin: 30px 78px;
  min-height: 40vh;
  max-height: 1000px;
  align-items: center;
}

#gallery {
  padding-top: 300px;
  margin: 30px 78px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.content-gallery {
  display: flex;
  background-color: #2ecc71;
}

.intro-text-layout {
  padding-right: 600px;
}

span {
  color: #2ecc71;
}

button {
  display: inline-block;
  margin-top: 15px;
  padding: 17px;
  border: none;
  width: 150px;
  border-radius: 50px;
  color: white;
  box-shadow: 0px 5px 6px rgba(85, 239, 196, 1);
  background-color: #2ecc71;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}
